body{
    font-family: monospace;
    overflow-x: hidden;
    font-synthesis: 15px;
}
a{
    text-decoration: none;
}
.container{
    width: 1540px;
    margin: auto;
    max-width: 100%;
    transition: transform 1s;
    background-color: white;
    display: flex;
}

.checkoutLayout{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 20px;
}
.checkoutLayout .right{
    background-color: rgba(177, 83, 128, 0.24);
    border-radius: 20px;
    padding: 40px;
    color: #3D021E;
    font-family: "Poppins", sans-serif;

}
.checkoutLayout .right .form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-bottom: 1px solid #3D021E;
    padding-bottom: 20px;
}
.checkoutLayout .form h1,
.checkoutLayout .form .group:nth-child(-n+3){
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: "Playfair Display", serif;
}
.checkoutLayout .form input, 
.checkoutLayout .form select
{
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 10px;
    border:none;
    background-color: transparent;
    color: #fa58a6;
    border-bottom: solid 1px;
}
.checkoutLayout .right .return .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.checkoutLayout .right .return .row div:nth-child(2){
    font-weight: bold;
    font-size: x-large;
}
.buttonCheckout{
    width: 100%;
    height: 40px;
    border: solid #3D021E 1px;
    background-color: #fa58a691;
    border-radius: 1rem;
    margin-top: 20px;
    font-weight: bold;
    color: #3D021E;
    cursor: pointer;

}
.returnCart h1{
    border-top: 1px solid #3D021E;  
    padding: 20px 0;
    color: #3D021E;
    font-family: "Playfair Display", serif;
}
.returnCart .list .item img{
    height: 80px;
    border-radius: 5px;
}
.returnCart .list .item{
    display: grid;
    grid-template-columns: 80px 1fr  50px 80px;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    padding: 0 10px;
    box-shadow: 0 10px 20px #5555;
    border-radius: 20px;
    background-color: rgba(255, 255, 255,0.267);         /*       -----------------------*/
}
.returnCart .list .item .name,
.returnCart .list .item .returnPrice{
    font-size: large;
    font-weight: bold;
    color: #3D021E;
}

.returnCart .list .item .price{
    color: #fa58a6;
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
}

.container .checkoutLayout .returnCart a{
    text-decoration: none;
    color: #3D021E;
    ;


}

.container .banner{
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    border: #3D021E solid 1px;
    box-shadow: 0 10px 20px #5555;
    text-align: center;;
}

.container .banner .first h1{
    font-family: "Playfair Display", serif;
    font-size: 2.5em;
    color: #3D021E;
    margin-bottom: 0;
}

.container .banner .first p{
    font-family: "Poppins", sans-serif;
    font-size: 1.2em;
    color: #fa58a6;
    margin-top: 0;
}

.container .banner .second i{
    color: #3D021E;
    font-size: 2.5em;

}

.container .banner .second p{
    font-family: "Poppins", sans-serif;
    font-size: 1.2em;
    color: #fa58a6;
}


.container .banner .second h2{
    font-family: "Playfair Display", serif;
    font-size: 1.5em;
    color: #3D021E;
    margin-bottom: 0;

}

/* footer */
.footer{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
}

.footer .ingredients{
    background-color: rgba(177, 83, 128,0.47);
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.footer .ingredients .ingredient{
    color: #79043C;
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.footer .ingredients .ingredient  i{
    color: #79043C;
    margin-right: 5px;
    margin-top: 2px;
    font-size: 1.5rem;
}

.footer .footer-details{
    background-color: #3D021E;
    color: #fa58a6;
    width: 100%;
    height: 61%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    
}

.footer .footer-details ul{  
    list-style: none;
    line-height: 2rem;
}

.footer .footer-details .footer-column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 0.5;
    margin-right: 20px;

}


.footer .footer-details .footer-column li{
    color: white;
}

.footer .footer-details .footer-column li:hover{
    color: #79043C;
}

.footer .footer-details h3{
    font-family: "Playfair Display", serif;
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.text h3{
    padding-left: 2rem;
}

.email-input{
    margin-bottom: 1.4rem;
    width: 100%;
}

.email-input input{

    height: 1.5rem;
    border: none;
    margin-left: 2.5rem;
    margin-right: 0rem;
    width: 60%;
    color: #fa58a6;
    background-color: #3D021E;
    border-bottom: solid 1px ;
}

.email-input input::placeholder{
    color: #fa58a6;
}

.email-input button{

    height: 1.5rem;
    border: solid #fa58a6 1px;
    color: #fa58a6;
    border-radius: 4px;
    background-color: transparent;
    margin-left: 0;
    width: 60;
}


.footer .social-media{
    background-color: #280114;
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .social-media .number  i{
    color: #fa58a6;
    margin-left: 20px;
    margin-right: 5px;
}


.footer .social-media .number{
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.footer .social-media .social-icons  i{
    color: #fa58a6;
    margin-right: 20px;
}

.footer .copyright{
    background-color: #14010A;
    width: 100%;
    height: 8%;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .copyright .copy{
    margin-left: 20px;
}

.footer .copyright .privacy{
    margin-right: 20px;
}

/* footer end */


body{
    margin: 0;
    background-color: #F4F4F4;
}

body::-webkit-scrollbar {
    display: none;
  }
/* header */
.logo{

    width: 40px;
    height: 40px;
    margin: 0.5rem 0.25rem 0 0.25rem;
}


.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3D021E;
    width: 1540px;
}

.brand{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.brand h1{
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    margin: 0;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;

}

.navbar ul li{
    margin: 0 1.5rem 0 1.5rem;
}

.navbar ul li a{
    text-decoration: none;
    color: gray;
    font-family: "Playfair Display", serif;
    font-size: 1.2rem;
    font-weight: 500;

}

.navbar ul li a:hover{
    color: white;
    font-size: 1.25rem;
}

/* header end */